# Field Validation Postprocessing

Relabel data after testing

In [2]:

import pandas as pd #reading dataset
import matplotlib as mpl    #plotting, visualization
import matplotlib.pyplot as plt
import tensorflow as tf #building model
from tensorflow.keras.models import Model
import numpy as np  #playing output with model
from sklearn.preprocessing import StandardScaler
import joblib  
import json

import sys
sys.path.append('../../')   # Add parent directory to Python path
from utils.preprocessing import *
from utils.segmentation import *
from utils.plots import *

In [3]:
# # plot the combined data
df= pd.read_csv('../../data/test/Accelerometer_ziyi.csv')
df

,Date,NTP,GNSS-Time,Acc-X,Acc-Y,Acc-Z
0,2025-03-28T16:00:44.931,2025-03-28 16:00:48.289,1743174048272,1.781281,4.735733,8.374924
1,2025-03-28T16:00:44.935,2025-03-28 16:00:48.293,1743174048276,2.643204,5.118805,8.274368
2,2025-03-28T16:00:44.942,2025-03-28 16:00:48.300,1743174048285,2.097321,5.037399,7.814682
3,2025-03-28T16:00:44.945,2025-03-28 16:00:48.303,1743174048286,1.891418,5.061340,8.034943
4,2025-03-28T16:00:44.951,2025-03-28 16:00:48.308,1743174048292,2.892197,5.272034,7.891296
...,...,...,...,...,...,...
268724,2025-03-28T16:22:59.273,2025-03-28 16:23:02.631,1743175382614,2.863464,5.655106,7.546524
268725,2025-03-28T16:22:59.277,2025-03-28 16:23:02.636,1743175382619,2.145203,5.549759,7.067688
268726,2025-03-28T16:22:59.284,2025-03-28 16:23:02.642,1743175382625,2.815582,5.281616,8.034943
268727,2025-03-28T16:22:59.288,2025-03-28 16:23:02.646,1743175382629,2.987961,5.559341,8.226471
268728,2025-03-28T16:22:59.293,2025-03-28 16:23:02.650,1743175382634,1.642426,5.343857,6.909668

In [7]:
df_segmented = pd.read_csv('../../data/test/Accelerometer_ziyi_with_curb_segmented_abnormal_gereinigt.csv')
df_segmented.head()

,curb_scene,start_time,end_time,Acc-Z_1,Acc-Z_2,Acc-Z_3,Acc-Z_4,Acc-Z_5,Acc-Z_6,Acc-Z_7,...,Acc-Z_91,Acc-Z_92,Acc-Z_93,Acc-Z_94,Acc-Z_95,Acc-Z_96,Acc-Z_97,Acc-Z_98,Acc-Z_99,Acc-Z_100
0,0,2025-03-28 16:00:48.289,2025-03-28 16:00:48.780,8.374924,8.274368,7.814682,8.034943,7.891296,8.073242,8.173798,...,8.078033,8.020569,8.011002,8.078033,8.020569,8.020569,7.953537,7.991852,8.087616,8.039734
1,0,2025-03-28 16:00:48.785,2025-03-28 16:00:49.277,8.030151,7.977478,8.020569,8.054092,8.020569,8.020569,7.987061,...,7.441177,7.259216,7.584824,7.536942,7.278366,7.254425,7.503433,7.704544,7.781158,7.742844
2,0,2025-03-28 16:00:49.284,2025-03-28 16:00:49.773,7.517792,7.723694,7.939178,7.718903,7.733276,7.508209,7.498642,...,6.689407,6.689407,6.459549,6.234497,5.750870,5.477936,5.722137,6.766022,7.991852,8.384491
3,0,2025-03-28 16:00:49.778,2025-03-28 16:00:50.270,8.633499,9.428360,10.046066,8.925583,7.010223,7.082046,6.885727,...,6.689407,8.609543,9.916779,8.930374,8.427597,8.173798,8.384491,7.412445,7.776367,8.011002
4,0,2025-03-28 16:00:50.275,2025-03-28 16:00:50.766,10.960663,10.577591,9.801865,7.599197,6.493073,8.561661,8.892059,...,9.284714,9.232040,8.437164,8.576035,9.030930,9.514557,9.265564,9.686935,10.113113,9.428360

In [ ]:
# in df, an extra column "curb_scene" is added

# we look at the start_time and end_time in df_segmented and find the corresponding data in df: if curb_scene in df_segmented is 1, then curb_scene in df is 1, otherwise curb_scene in df is 0

In [8]:
# Convert time columns to datetime
df['NTP'] = pd.to_datetime(df['NTP'])
df_segmented['start_time'] = pd.to_datetime(df_segmented['start_time'])
df_segmented['end_time'] = pd.to_datetime(df_segmented['end_time'])

In [9]:
# Initialize curb_scene column with 0
df['curb_scene'] = 0

In [10]:
# Update curb_scene based on time ranges
for _, segment in df_segmented.iterrows():
    mask = (df['NTP'] >= segment['start_time']) & (df['NTP'] <= segment['end_time'])
    if segment['curb_scene'] == 1:
        df.loc[mask, 'curb_scene'] = 1
    if segment['curb_scene'] == 0:
        df.loc[mask, 'curb_scene'] = 0

In [11]:
# Verify results
print("Number of curb scenes:", df['curb_scene'].sum())
print("Total number of timestamps:", len(df))
print("Percentage of curb scenes:", (df['curb_scene'].sum() / len(df)) * 100, "%")

Number of curb scenes: 26217
Total number of timestamps: 268729
Percentage of curb scenes: 9.755925114148454 %

In [12]:
df

,Date,NTP,GNSS-Time,Acc-X,Acc-Y,Acc-Z,curb_scene
0,2025-03-28T16:00:44.931,2025-03-28 16:00:48.289,1743174048272,1.781281,4.735733,8.374924,0
1,2025-03-28T16:00:44.935,2025-03-28 16:00:48.293,1743174048276,2.643204,5.118805,8.274368,0
2,2025-03-28T16:00:44.942,2025-03-28 16:00:48.300,1743174048285,2.097321,5.037399,7.814682,0
3,2025-03-28T16:00:44.945,2025-03-28 16:00:48.303,1743174048286,1.891418,5.061340,8.034943,0
4,2025-03-28T16:00:44.951,2025-03-28 16:00:48.308,1743174048292,2.892197,5.272034,7.891296,0
...,...,...,...,...,...,...,...
268724,2025-03-28T16:22:59.273,2025-03-28 16:23:02.631,1743175382614,2.863464,5.655106,7.546524,0
268725,2025-03-28T16:22:59.277,2025-03-28 16:23:02.636,1743175382619,2.145203,5.549759,7.067688,0
268726,2025-03-28T16:22:59.284,2025-03-28 16:23:02.642,1743175382625,2.815582,5.281616,8.034943,0
268727,2025-03-28T16:22:59.288,2025-03-28 16:23:02.646,1743175382629,2.987961,5.559341,8.226471,0
268728,2025-03-28T16:22:59.293,2025-03-28 16:23:02.650,1743175382634,1.642426,5.343857,6.909668,0

In [13]:
df['curb_scene'].value_counts().isnull().sum()

np.int64(0)

In [14]:
#save
df.to_csv('../../data/test/Accelerometer_ziyi_with_curb_postprecessing.csv', index=False)

In [15]:
df_post = pd.read_csv('../../data/test/Accelerometer_ziyi_with_curb_postprecessing.csv')

In [16]:
df_post

,Date,NTP,GNSS-Time,Acc-X,Acc-Y,Acc-Z,curb_scene
0,2025-03-28T16:00:44.931,2025-03-28 16:00:48.289,1743174048272,1.781281,4.735733,8.374924,0
1,2025-03-28T16:00:44.935,2025-03-28 16:00:48.293,1743174048276,2.643204,5.118805,8.274368,0
2,2025-03-28T16:00:44.942,2025-03-28 16:00:48.300,1743174048285,2.097321,5.037399,7.814682,0
3,2025-03-28T16:00:44.945,2025-03-28 16:00:48.303,1743174048286,1.891418,5.061340,8.034943,0
4,2025-03-28T16:00:44.951,2025-03-28 16:00:48.308,1743174048292,2.892197,5.272034,7.891296,0
...,...,...,...,...,...,...,...
268724,2025-03-28T16:22:59.273,2025-03-28 16:23:02.631,1743175382614,2.863464,5.655106,7.546524,0
268725,2025-03-28T16:22:59.277,2025-03-28 16:23:02.636,1743175382619,2.145203,5.549759,7.067688,0
268726,2025-03-28T16:22:59.284,2025-03-28 16:23:02.642,1743175382625,2.815582,5.281616,8.034943,0
268727,2025-03-28T16:22:59.288,2025-03-28 16:23:02.646,1743175382629,2.987961,5.559341,8.226471,0
268728,2025-03-28T16:22:59.293,2025-03-28 16:23:02.650,1743175382634,1.642426,5.343857,6.909668,0

In [17]:
df_post['curb_scene'].value_counts().isnull().sum()

np.int64(0)